<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>CSI3450 Website</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>

        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="index.html">CSI3450 Project Site</a>
            
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropDown" data-toggle="dropdown">Link 2</a>
                            <div class="dropdown-menu">
                                <div class="dropdown-item" href="#">Item 1</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Item 2</a>
                                <a class="dropdown-item" href="#">Item 3</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="jumbotron">
               <h1 class="display-4">This is a jumbotron.</h1> 
               <p class="lead">Lorem ipsum dolor sit amet.</p>
               <p class="lead">
                   <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
               </p>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <h5 class="card-title">Card Title</h5>
                            <p class="card-text">Some quick text to build up on the card title.</p>
                            <a href="#" class="card-link">Link</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Card Title</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                                Impedit ducimus natus deleniti sit harum!</p>
                            <a href="#" class="card-link">Link</a>
                        </div>
                    </div>    
                </div>

                <div class="col">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Card Title</h5>
                            <p class="card-text">Some quick text to build up on the card title.</p>
                            <a href="#" class="card-link">Link</a>
                        </div>
                    </div>

                </div>

                <div class="row mt-sm-4 mt-md-0">
                    <div class="col-sm-12 col-md-8 text-sm-center text-md-left">
                        <h3>An important heading</h3>
                        <p class="lead">A sort of important subheading here, which is larger and grey</p>

                        <p>anoethusn ahoeu ahoesnuhaoe tuhanseuh aonteuhastnoe husanthe usantue haseh</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum iusto minima et delectus, exercitationem beatae.</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <h3 class="mb-4">Secondary Menu</h3>

                        <ul class="nav flex-column nav-pills">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Active</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">Disabled</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
    
</html>